<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles/css/main.css">
    <script src="//localhost:1337/livereload.js"></script>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="mustache/mustache.min.js"></script>
    <!--<script src="socket.io-client/socket.io.js"></script>-->
    <script src="app.js" defer></script>
    <script src="constants.js" defer></script>
    <script src="dispatcher.js" defer></script>
    <script src="actions.js" defer></script>
    <script src="/stores/world.js" defer></script>
    <script src="/views/world.js" defer></script>
  </head>
  <body>
    <header>MMO-Civ</header>
    <section class="main-content">
    </section>
  </body>
</html>
