<div class="viewport-controls">
  <div class="viewport-left"><img src="" alt="" class="control-icon"></div>
  <div class="viewport-right"><img src="" alt="" class="control-icon"></div>
  <div class="viewport-up"><img src="" alt="" class="control-icon"></div>
  <div class="viewport-down"><img src="" alt="" class="control-icon"></div>
</div>
